.rede{
    background-color: #F84E4E;
    height: 150px;
}

.mapa{
    margin-top: 100px;
    width: 300px;
    margin-bottom: 80px;
    margin-left: 530px;
    position: absolute;
}

.Ubicaciones{
    margin-top: 30px;
    background-color: #C4C4C4;
    text-align: center;
    height: 400px;
}